<!-- templates/signup.html -->
{% extends 'base.html' %}

{% block title %}{% if 'new_admin' == mode %}New User{% else %}Edit User Settings{% endif %}{% endblock %}

{% block pagecontent %}
<div>
  <h2>{% if 'new_admin' == mode %}New User{% else %}Edit User Settings{% endif %}</h2>
  <form method="post">
    {% csrf_token %}
	<div id="details-user-edit" style="padding-left:25px;">
	  <fieldset style="border: 1px solid Blue; background-color:LightBlue; padding-left: 25px; padding-right: 20px;"> <!-- class="fieldset-auto-width"  -->
		<p><p>
		<input type="hidden" name="mode" value="{{mode}}">
		<button class="btn btn-primary btn-lg" id="submit-user-edit" name="action" value="submit"> Submit Changes </button>
		<button class="btn info btn-lg" id="cancel-user-edit" name="action" value="cancel"> Cancel Changes </button>
        <p class="help-block text-danger" id="validation-errors" >{{validation_errors}}</p>
		<dl class="dl-horizontal">

			<dt>User Name:</dt>
			<dd>{% if 'new_admin' == mode %}<input type="text" placeholder="Edit user name" name="user_name" size="80" value="{{user_name}}">{% else %}{{user_name}}<input type="hidden" name="user_name" value="{{user_name}}">{% endif %}</dd>

			<dt>First Name:</dt>
			<dd><input type="text" placeholder="Edit first name" name="user_first" size="80" value="{{user_first}}"></dd>

			<dt>Last Name:</dt>
			<dd><input type="text" placeholder="Edit last name" name="user_last" size="80" value="{{user_last}}"></dd>

			<dt>Email:</dt>
			<dd><input type="text" placeholder="Edit email" name="user_email" size="80" value="{{user_email}}"></dd>

			<dt>Role:</dt>
			<dd><input type="text" placeholder="Edit role" name="user_role" size="80" value="{{user_role}}"></dd>

			<dt>Group:</dt>
			<dd>
			  {% if 'edit_user' == mode %}
			    {{group_name}}
			  {% else %}
			    <select name="user_group">
			    <option value="Reader" {% if 'Reader' == group_name %}selected{% endif %}>Reader</option>
			    <option value="Contributor" {% if 'Contributor' == group_name %}selected{% endif %}>Contributor</option>
			    <option value="Creator" {% if 'Creator' == group_name %}selected{% endif %}>Creator</option>
			    <option value="Admin" {% if 'Admin' == group_name %}selected{% endif %}>Admin</option>
			    </select>
			  {% endif %}
			</dd>

			{% if 'edit_user' != mode %}
			  <dt>Force new password:</dt>
		      <dd><input type="password" placeholder={% if 'new_admin' == mode %}"Password required"{% else %}"Leave empty if no changes"{% endif %} name="user_pass1" size="80"></dd>
			  <dt>Confirm password:</dt>
			  <dd><input type="password" placeholder={% if 'new_admin' == mode %}"Confirm password"{% else %}"Leave empty if no changes"{% endif %} name="user_pass2" size="80"></dd>
			{% endif %}

	  </fieldset>
	</div>
  </form>
</div>

{% endblock %}

