{% extends 'base.html' %}
{% load static %}

{% block extraheadcontent %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}" type='text/css'>
  <script src="{% static 'js/jquery-ui.min.js' %}">
  </script>
{% endblock %}

{% block title %} All CVE's - SRTool {% endblock %}

{% block pagecontent %}

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li>All CVE's</li>
		</ul>
	</div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class="top-air" data-role="page-title"></h1>
    </div>

    {# xhr_table_url is just the current url so leave it blank #}
    {% url '' as xhr_table_url %}
    {% include 'toastertable.html' %}
  </div>
</div>

<div id="table-loading">
<h3><font color="blue">[ Table Loading... ]</font></h3>
</div>

  <script>
    $(document).ready(function () {
      var tableElt = $("#{{table_name}}");
      var titleElt = $("[data-role='page-title']");

      $("#table-loading").slideDown();
      tableElt.on("table-done", function (e, total, tableParams) {
        var title = "All CVE's";

        if (tableParams.search || tableParams.filter) {
          if (total === 0) {
            title = "No CVE's found";
          }
          else if (total > 0) {
            title = total + " CVE" + (total > 1 ? 's' : '') + " found";
          }
        }

        titleElt.text(title);

        /* Set the report link */
        var record_list=""
        $(".name_sort > a").each(function(){
          var this_id=$(this).prop('id');
          if (this_id.startsWith("dataid_")) {
            record_list +=this_id.replace(/dataid_/,"") + ",";
          }
        });
        $('#report_link').attr('href',"{% url 'report' request.resolver_match.url_name %}?record_list="+record_list);

		var search = window.location.search;
		if (search) {
			search = search.replace("?","&");
		}
        $('#href_link').attr('href',"{% url 'report' request.resolver_match.url_name %}?record_list="+record_list+search);


        $("#table-loading").slideUp();
      });
    });
  </script>
{% endblock %}
