{% extends "base.html" %}

{% load projecttags %}

{% block title %} {{object.name}} - SRTool {% endblock %}

{% block pagecontent %}

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li><a href="{% url 'defects' %}">Defects</a></li><span class="divider">&rarr;</span>
			<li>{{object.name}}</li>
		</ul>
	</div>
</div>

<!-- Begin container -->

<div class="row">
  <div class="col-md-12">
    <div class="page-header build-data">
        <h1>Defect {{object.name}} Detail</h1>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-5">
	<div class="well">
	<h2>Quick Info</h2>
		<dl class="dl-horizontal">
			<dt>Summary:</dt>
			<dd>{{object.summary}}</dd>

			<dt>URL:</dt>
			<dd><a href="{{object.url}}" id="dataid_{{object.id}}" target="_blank">{{object.url}}</a></dd>

			<dt>Defect Priority:</dt>
			<dd>{{object.get_defect_priority_text}}</dd>

			<dt>Defect Status:</dt>
			<dd>{{object.get_defect_status_text}}</dd>

			<dt>Defect Resolution:</dt>
			<dd>{{object.get_defect_resolution_text}}</dd>

			<dt>Duplicate Of:</dt>
			<dd>
			{% if object.duplicate_of %}
			    <a href="{% url 'defect_name' object.duplicate_of %}">{{object.duplicate_of}}</a>&nbsp;(<a href="{{SRTOOL_DEFECT_URLBASE}}/{{object.duplicate_of}}">{{SRTOOL_DEFECT_URLBASE}}/{{object.duplicate_of}}</a>)
			{% endif %}
			</dd>

			<dt>SRTool Priority:</dt>
			<dd>{{object.get_priority_text}}</dd>

			<dt>SRTool Status:</dt>
			<dd>{{object.get_status_text}}</dd>

			<dt>SRTool Outcome:</dt>
			<dd>{{object.get_outcome_text}}</dd>

			<dt>Affected Components:</dt>
			<dd>{{object.packages}}</dd>

			<dt>Publish:</dt>
			<dd>{{object.publish}}</dd>

			<dt>Release Version:</dt>
			<dd>{{object.release_version}}</dd>

			<dt>Investigations:</dt>
			<dd>
				{% for ji in object.defect_to_investigation.all %}
				  {% if not forloop.first %}| {% endif %}<a href="{% url 'investigation' ji.investigation.id %}" target="_blank">{{ji.investigation.name}} </a>
				{% endfor %}
			</dd>

			<dt>Product:</dt>
			<dd><a href="{% url 'product' object.product.id %}">{{object.product.long_name}}</a></dd>

			<dt>date_created:</dt>
			<dd>{{object.date_created}}</dd>

			<dt>date_updated:</dt>
			<dd>{{object.date_updated}}</dd>

	   </dl>
	</div>
  </div>
</div>

<div class="row" style="padding-left: 25px;">
	<h3>History</h3>
	<table class="table table-striped table-condensed" data-testid="vuln-hyperlinks-table">
		<thead>
			<tr>
				<th>Comment</th>
				<th>Date</th>
				<th>Author</th>
			</tr>
		</thead>
		{% if object.defect_history.all %}
		  {% for c in object.defect_history.all %}
			<tr>
				<td>{{ c.comment }}</td>
				<td>{{ c.date }}</td>
				<td>{{ c.author }}</td>
			</tr>
		  {% endfor %}
		{% else %}
			<tr>
				<td>No history found</td>
			</tr>
		{% endif %}
	</table>
</div>

<HR ALIGN="center" WIDTH="100%">
Updated={{object.srt_updated}}



<!-- Javascript support -->
<script>
	$(document).ready(function() {
		/* Set the report link */
		$('#report_link').attr('href',"{% url 'report' request.resolver_match.url_name %}?record_list={{object.id}}");
	});
</script>

{% endblock %}
