{% extends 'base.html' %}
{% load static %}

{% block extraheadcontent %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}" type='text/css'>
  <script src="{% static 'js/jquery-ui.min.js' %}">
  </script>
  {% if access.is_creator %}{% else %}<meta http-equiv="refresh" content="0; url=/" />{% endif %}
{% endblock %}

{% block title %} Select Keywords - SRTool {% endblock %}

{% block pagecontent %}

<style>
#keywordsId{
font-size: 14px;
font-weight: normal;
resize: none;
overflow-y: scroll;
}

/* Create two equal columns that floats next to each other */
.mycolumn {
    float: left;
    width: 50%;
    padding: 10px;
}
</style>

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li><a href="{% url 'manage' %}">Management</a></li><span class="divider">&rarr;</span>
			<li><a href="{% url 'triage_cves' %}">Triage CVE's</a></li><span class="divider">&rarr;</span>
			<li>Triage Keywords</li>
		</ul>
	</div>
</div>

<div class="row">
  <p><b><big>Keywords: </big></b>
  <a class="btn btn-default navbar-btn " id="investigate-button" href="">Edit Keywords</a>
  <a class="btn btn-default navbar-btn " id="exclude-button" href="">Save Keywords</a>
</div>

<div class="row">
  <div class="mycolumn">
    <b><big>For Keywords: {{for_list_count}}</big></b><p>
    <textarea rows="60" cols="80" id="keywordsId" style="max-height:400px;min-height:400px; resize: none">
{% for k in for_list %}{{k}}
{% endfor %}
    </textarea>
  </div>

  <div class="mycolumn">
    <b><big>Against Keywords: {{against_list_count}}</big></b><p>
    <textarea rows="60" cols="80" id="keywordsId"
                    style="max-height:400px;min-height:400px; resize: none">
{% for k in against_list %}{{k}}
{% endfor %}
    </textarea>
  </div>
</div>

<div class="row">
  <p><b><big>Notes: </big></b>
  <i>
  <ul>
	<li>Append a comma and a number (i.e. ",2") to set a weight other than 1</li>
	<li>Keywords in lower case will compared using case insensitvity</li>
	<li>Keywords with any upper case will compared using case sensitvity</li>
	<li>Keywords with inner spaces will be compared as phrases</li>
  </ul>
  </i>
</div>

{% endblock %}
