{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Login Page {% endblock %}
{% block pagecontent %}
  <div class="row">
		<div class="col-md-7" style="padding-left: 50px;">
		  <h1>Login Page</h1>
		</div>
  </div>

	<form method="POST">{% csrf_token %}
		<div class="row" style="padding-left: 100px;">
			<h2>Select User:</h2>
			{% if object.all %}
			  <select name="username" size="10" required>
			  {% for user in object.all %}
				{% if not user.builtin %}
				  <option>{{user.name}}   ({{user.get_access_text}})</option>
			    {% endif%}
			  {% endfor %}
			  </select>
			{% else %}
			<p>No Users Found</p>
			{% endif%}
		</div>

		<div class="row" style="padding-left: 100px;">
			<h2>Password:</h2>
			<input type="password" class="form-control"  style="width: 150px;" name="password" placeholder="(enter anything)">
		</div>

		<div class="top-air" style="padding-left: 100px;">
		  <input type="submit" id="login-button" class="btn btn-primary btn-lg" value="Submit"/>
		  <a class="btn btn-info btn-lg" href="{% url 'landing' %}">Cancel</a>
		</div>
	</form>

{% endblock %}
