{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Maintenance tools {% endblock %}
{% block pagecontent %}
      <div class="row">
            <div class="col-md-7" style="padding-left: 50px;">
              <h1>Maintenance</h1>
            </div>
      </div>
      <div class="row">
        <div class="jumbotron well-transparent">

            <div class="col-md-6">
				<div>
				<table class="table table-striped table-condensed" data-testid="landing-hyperlinks-table">
					<thead>
						<tr>
							<th>Action</th>
							<th>Description</th>
						</tr>
					</thead>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'error_logs' %}">Error Logs</a></td>
						<td>Examine Error Logs ({{errorlog_total}})</td>
					</tr>
					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'history_cve' %}">History CVE</a></td>
						<td>Examine History for CVEs</td>
					</tr>
					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'history_vulnerability' %}">History Vulnerabilities</a></td>
						<td>Examine History for Vulnerabilities</td>
					</tr>
					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'history_investigation' %}">History Investigations</a></td>
						<td>Examine History for Investigations</td>
					</tr>
					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'history_defect' %}">History Defects</a></td>
						<td>Examine History for Defects</td>
					</tr>

				</table>
				</div>

            </div>

		  <div class="col-md-5">
			<b>Quick Info</b>
			<div class="well">
				<dl class="dl-horizontal">

					<dt>CVE History: Total Count =</dt>
					<dd>
						{{history_cve_total}}
					</dd>
					<dt>Vulnerability History: Total Count =</dt>
					<dd>
						{{history_vulnerability_total}}
					</dd>
					<dt>Investigation: Total Count =</dt>
					<dd>
						{{history_investigation_total}}
					</dd>
					<dt>Defect: Total Count =</dt>
					<dd>
						{{defect_investigation_total}}
					</dd>

			   </dl>
			</div>
		  </div>

        </div>
      </div>

{% endblock %}
