{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Manage Resources {% endblock %}
{% block pagecontent %}
      <div class="row">
            <div class="col-md-7" style="padding-left: 50px;">
              <h1>Management</h1>
            </div>
      </div>
      <div class="row">
        <div class="jumbotron well-transparent">

            <div class="col-md-6">
				<div>
				<table class="table table-striped table-condensed" data-testid="landing-hyperlinks-table">
					<thead>
						<tr>
							<th>Action</th>
							<th>Description</th>
						</tr>
					</thead>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'triage_cves' %}">Triage CVE's</a></td>
						<td>Triage the CVE's ({{cve_new}})</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'manage_notifications' %}">Pending notifications</a></td>
						<td>Triage the pending notifications ({{notification_total}})</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'manage_report' %}">Summary Report</a></td>
						<td>Report on the over all response system status</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'publish' %}">Publish Reports</a></td>
						<td>Process items to be published from the SRTool</td>
					</tr>

					{% if request.user.is_admin %}
					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'users' %}">Manage Users</a></td>
						<td>Add, edit, and remove users</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'sources' %}?nocache=1">Manage Sources</a></td>
						<td>Manage source list, perform manual pulls</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'maintenance' %}?nocache=1">Maintenance</a></td>
						<td>Maintenance utilities ({{errorlog_total}})</td>
					</tr>
					{% endif %}

				</table>
				</div>

            </div>

		  <div class="col-md-5">
			<b>Quick Info</b>
			<div class="well">
				<dl class="dl-horizontal">
					<dt>CVE's: Total Count =</dt>
					<dd>
						<a href="{% url 'cves' %}"> {{cve_total}} </a>
					</dd>
					<dt>Pending triaged =</dt>
					<dd>
						<a href="{% url 'cves' %}?limit=25&page=1&orderby=name&filter=is_status:new&default_orderby=name&filter_value=on&"> {{cve_new}} </a>
					</dd>
					<dt>Investigate =</dt>
					<dd>
						<a href="{% url 'cves' %}?limit=25&page=1&orderby=name&filter=is_status:investigate&default_orderby=name&filter_value=on&"> {{cve_investigate}} </a>
					</dd>
					<dt>Vulnerable =</dt>
					<dd>
						<a href="{% url 'cves' %}?limit=25&page=1&orderby=name&filter=is_status:vulnerable&default_orderby=name&filter_value=on&"> {{cve_vulnerable}} </a>
					</dd>
					<dt>Not Vulnerable =</dt>
					<dd>
						<a href="{% url 'cves' %}?limit=25&page=1&orderby=name&filter=is_status:not_vulnerable&default_orderby=name&filter_value=on&"> {{cve_not_vulnerable}} </a>
					</dd>
					<dt>Vulnerabilities: Total Count =</dt>
					<dd>
						<a href="{% url 'vulnerabilities' %}"> {{vulnerability_total}} </a>
					</dd>
					<dt>Open =</dt>
					<dd>
						<a href="{% url 'vulnerabilities' %}?limit=25&page=1&orderby=name&filter=is_outcome:open&default_orderby=name&filter_value=on&"> {{vulnerability_open}} </a>
					</dd>
					<dt>Critical active =</dt>
					<dd>
						<a href="{% url 'vulnerabilities' %}?limit=25&page=1&orderby=name&filter=is_priority:critical&default_orderby=name&filter_value=on&" %}> {{vulnerability_critical}} </a>
					</dd>
					<dt>High active =</dt>
					<dd>
						<a href="{% url 'vulnerabilities' %}?limit=25&page=1&orderby=name&filter=is_priority:high&default_orderby=name&filter_value=on&" %}> {{vulnerability_high}} </a>
					</dd>
					<dt>Medium active =</dt>
					<dd>
						<a href="{% url 'vulnerabilities' %}?limit=25&page=1&orderby=name&filter=is_priority:medium&default_orderby=name&filter_value=on&" %}> {{vulnerability_medium}} </a>
					</dd>

					<dt>Investigations: Total Count =</dt>
					<dd>
						<a href="{% url 'investigations' %}" %}> {{investigation_total}} </a>
					</dd>
					<dt>Open =</dt>
					<dd>
						<a href="{% url 'investigations' %}?limit=25&page=1&orderby=name&filter=is_outcome:open&default_orderby=name&filter_value=on&" %}> {{investigation_open}} </a>
					</dd>
					<dt>Critical active =</dt>
					<dd>
						<a href="{% url 'investigations' %}?limit=25&page=1&orderby=name&filter=is_priority:critical&default_orderby=name&filter_value=on&" %}> {{investigation_critical}} </a>
					</dd>
					<dt>High active =</dt>
					<dd>
						<a href="{% url 'investigations' %}?limit=25&page=1&orderby=name&filter=is_priority:high&default_orderby=name&filter_value=on&" %}> {{investigation_high}} </a>
					</dd>
					<dt>Medium active =</dt>
					<dd>
						<a href="{% url 'investigations' %}?limit=25&page=1&orderby=name&filter=is_priority:medium&default_orderby=name&filter_value=on&" %}> {{investigation_medium}} </a>
					</dd>

					<dt>Defects: Total Count =</dt>
					<dd>
						<a href="{% url 'defects' %}" %}> {{defect_total}} </a>
					</dd>
					<dt>Open =</dt>
					<dd>
						<a href="{% url 'defects' %}?limit=25&page=1&orderby=-priority&filter=is_srt_outcome:open&default_orderby=name&filter_value=on&" %}> {{defect_open}} </a>
					</dd>
					<dt>InProgress =</dt>
					<dd>
						<a href="{% url 'defects' %}?limit=25&page=1&orderby=-priority&filter=is_defect_status:in_progress&default_orderby=name&filter_value=on&" %}> {{defect_inprogress}} </a>
					</dd>
					<dt>P1 active =</dt>
					<dd>
						<a href="{% url 'defects' %}?limit=25&page=1&orderby=-priority&filter=is_defect_priority:critical&default_orderby=name&filter_value=on&" %}> {{defect_p1}} </a>
					</dd>
					<dt>P2 active =</dt>
					<dd>
						<a href="{% url 'defects' %}?limit=25&page=1&orderby=-priority&filter=is_defect_priority:high&default_orderby=name&filter_value=on&" %}> {{defect_p2}} </a>
					</dd>

					<dt>Packages: Affected=</dt>
					<dd>
						<a href="{% url 'cpes_srtool' %}" %}> {{package_total}} </a>
					</dd>

			   </dl>
			</div>
		  </div>

        </div>
      </div>

{% endblock %}
