{% extends "base.html" %}

{% load static %}
{% load projecttags %}
{% load humanize %}

{% block title %} Publish Reports {% endblock %}
{% block pagecontent %}
      <div class="row">
            <div class="col-md-7" style="padding-left: 50px;">
              <h1>Publish the CVE Database Status</h1>
            </div>
      </div>
      <div class="row">
        <div class="jumbotron well-transparent">

            <div class="col-md-6">
				<div>
				<table class="table table-striped table-condensed" data-testid="landing-hyperlinks-table">
					<thead>
						<tr>
							<th>Action</th>
							<th>Description</th>
						</tr>
					</thead>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'report' 'publish-summary' %}">Summary of CVEs</a></td>
						<td>Summary across CVEs and Products</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'publish_diff_snapshot' %}">Difference Snapshots</a></td>
						<td>Difference Report via Snapshots [UNDER DEVELOPMENT]</td>
					</tr>

					<tr>
						<td><a class="btn btn-info btn-lg" href="{% url 'publish_diff_history' %}">Difference History</a></td>
						<td>Difference Report via History [UNDER DEVELOPMENT]</td>
					</tr>

				</table>
				</div>

            </div>

		  </div>

        </div>
      </div>

{% endblock %}
