{% extends 'base.html' %}
{% load static %}

{% block extraheadcontent %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}" type='text/css'>
  <script src="{% static 'js/jquery-ui.min.js' %}">
  </script>
{% endblock %}

{% block title %} All CPE's - SRTool {% endblock %}

{% block pagecontent %}

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li>Manage CPE's</li>
		</ul>
	</div>
</div>

<p><b><big>Set Selected Status: </big></b><a class="btn btn-default navbar-btn " id="undecide-button" href="">Undecided</a>
<a class="btn btn-default navbar-btn " id="include-button" href="">Include</a>
<a class="btn btn-default navbar-btn " id="exclude-button" href="">Exclude</a>
<a class="btn btn-default navbar-btn " id="manual-button" href="">Manual</a>

<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class="top-air" data-role="page-title"></h1>
    </div>

    {% url 'cpes' as xhr_table_url %}
    {% include 'toastertable.html' %}
  </div>
</div>


  <script>
    $(document).ready(function () {
      var tableElt = $("#{{table_name}}");
      var titleElt = $("[data-role='page-title']");

      tableElt.on("table-done", function (e, total, tableParams) {
        var title = "Manage CPE's";

        if (tableParams.search || tableParams.filter) {
          if (total === 0) {
            title = "No CPE's found";
          }
          else if (total > 0) {
            title = total + " CPE" + (total > 1 ? "'s" : '') + " found";
          }
        }

        titleElt.text(title);
      });
    });
  </script>
{% endblock %}
