{% extends "base.html" %}

{% load projecttags %}

{% block title %} Data Sources - SRTool {% endblock %}

{% block pagecontent %}

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li>Data Sources </li>
		</ul>
	</div>
</div>

<!-- Begin container -->

<div class="row">
  <div class="col-md-12">
    <div class="page-header build-data">
        <h1>Data Sources</h1>
    </div>
  </div>
</div>

<div class="row">
	<table class="table table-striped table-condensed" data-testid="vuln-hyperlinks-table">
		<thead>
			<tr>
				<th>Data</th>
				<th>Source</th>
				<th>Type</th>
				<th>Description</th>
				<th>Cache File Path</th>
				<th>Upstream URL</th>
				<th>Policy</th>
			</tr>
		</thead>

		{% if object.all %}
		  {% for p in object.all %}
			<tr>
				<td>{{ p.data }} </td>
				<td>{{ p.source }} </td>
				<td>{{ p.type }} </td>
				<td>{{ p.description }} </td>
				<td>{{ p.file_path }} </td>
				<td>{{ p.url }} </td>
				<td> tbd </td>
			</tr>
		  {% endfor %}
		{% else %}
			<tr>
				<td>No data sources found</td>
			</tr>
		{% endif %}
	</table>
</div>

<div class="row">
  <div class="col-md-5">
	<div>
		<h3>Update Policies</h3>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
	</div>
	<p/>
  </div>
</div>



{% endblock %}
