<!-- Include html for SRTool metadata, edit metadata, edit notification -->

{% if default_category != "FYI" %}
<div class="row" id="display-status" style="padding-left: 25px;">
<fieldset style="border: 1px solid LightGray; padding-right: 20px;"> <!-- class="fieldset-auto-width"  -->
<UL>
    <LI>
    <i>Priority:</i> {{object.get_priority_text}},&nbsp;&nbsp;
    <i>Status:</i> {{object.get_status_text}},&nbsp;&nbsp;
	{% if default_category == "CVE" %}
      {% if request.user.is_creator %}
          <i>Publish</i> = {{object.get_publish_text}}, <i>Publish Date</i> = {{object.publish_date}}, <i>Acknowledge Date</i> = {{object.acknowledge_date|date:'Y-m-d'}}, <i>Initial Release</i> = {{object.publishedDate}}, <i>Last Modified</i> = {{object.lastModifiedDate}}
          <!--<a class="btn btn-default navbar-btn " id="login-button" href="">Publish Now</a> -->
      {% else %}
          <i>Publish = {{object.get_publish_text}}</i>
      {% endif %}
      </LI>
    {% else %}
      <i>Outcome:</i> {{object.get_outcome_text}}
      <p>
    {% endif %}
    <LI>
      <i>Public Notes:</i> {{object.comments}}
    </LI>
    {% if request.user.is_creator %}
      <LI>
        <i>Private Notes:</i> {{object.comments_private}}
      </LI>
    {% endif %}
    <LI>
      <i>Tags:</i> {{object.tags}}
    </LI>
    <LI>
      <i>Affected Components:</i> {{object.packages}}
    </LI>
</UL>
</fieldset>

</div>
<!-- XHR SRTool Variables -->
<div id="details-quickedit" style="display:none;padding-left: 25px;">
  <fieldset style="border: 1px solid Blue; background-color:LightBlue; padding-left: 25px; padding-right: 20px;"> <!-- class="fieldset-auto-width"  -->
    <p><p>
    <button class="execute btn btn-primary btn-lg" id="submit-quickedit"> Submit Changes </button>
    <p><i>Priority</i> =
    <select name="Priority" id="select-priority-state">
    <option value="0" {% if 0 == object.priority %}selected{% endif %}>Undefined</option>
    <option value="1" {% if 1 == object.priority %}selected{% endif %}>Low</option>
    <option value="2" {% if 2 == object.priority %}selected{% endif %}>Medium</option>
    <option value="3" {% if 3 == object.priority %}selected{% endif %}>High</option>
    <option value="4" {% if 4 == object.priority %}selected{% endif %}>Critical</option>
    </select>
    &nbsp;&nbsp;
    <i>Status</i> =
    <select name="Status" id="select-status-state">
    <option value="0" {% if 0 == object.status %}selected{% endif %}>Historical</option>
    <option value="1" {% if 1 == object.status %}selected{% endif %}>New</option>
    <option value="2" {% if 2 == object.status %}selected{% endif %}>New-Reserved</option>
    <option value="3" {% if 3 == object.status %}selected{% endif %}>Investigate</option>
    <option value="4" {% if 4 == object.status %}selected{% endif %}>Vulnerable</option>
    <option value="5" {% if 5 == object.status %}selected{% endif %}>Not Vulnerable</option>
    <option value="6" {% if 6 == object.status %}selected{% endif %}>(New)</option>
    <option value="7" {% if 7 == object.status %}selected{% endif %}>(Investigate)</option>
    <option value="8" {% if 8 == object.status %}selected{% endif %}>(Vulnerable)</option>
    <option value="9" {% if 9 == object.status %}selected{% endif %}>(Not Vulnerable)</option>
    </select>
    <p>
	{% if default_category == "CVE" %}
      <i>Publish</i> =
      <select name="Publish" id="select-publish-state">
      <option value="0" {% if 0 == object.publish_state %}selected{% endif %}>Unpublished</option>
      <option value="1" {% if 1 == object.publish_state %}selected{% endif %}>Not to be Published</option>
      <option value="2" {% if 2 == object.publish_state %}selected{% endif %}>Published</option>
      <option value="3" {% if 3 == object.publish_state %}selected{% endif %}>Publish Request (New)</option>
      <option value="4" {% if 4 == object.publish_state %}selected{% endif %}>Publish Request (Update)</option>
      <option value="5" {% if 5 == object.publish_state %}selected{% endif %}>Publish Submitted</option>
      </select>
      <i>Publish Date</i> = <input type="text" placeholder="Auto Publish Date" id="select-publish-date" size="40" value="{{object.publish_date}}"><p>
    {% else %} <!-- for Vulnerablity and Investigation -->
      <i>Outcome</i> =
      <select name="Outcome" id="select-outcome-state">
      <option value="0" {% if 0 == object.outcome_state %}selected{% endif %}>Open</option>
      <option value="1" {% if 1 == object.outcome_state %}selected{% endif %}>Closed (Not Vulnerable)</option>
      <option value="2" {% if 2 == object.outcome_state %}selected{% endif %}>Closed (Fixed)</option>
      <option value="3" {% if 3 == object.outcome_state %}selected{% endif %}>Closed (Won't Fix)</option>
      </select>
    {% endif %}
    <p>Comments: <input type="text" placeholder="Edit comments" id="text-note" size="80" value="{{object.comments}}"></p>
    {% if request.user.is_creator %}
      <p>Private Comments: <input type="text" placeholder="Edit private comments" id="text-private-note" size="80" value="{{object.comments_private}}"></p>
    {% endif %}
    <p>Tags: <input type="text" placeholder="Edit tags" id="text-tags" size="80" value="{{object.tags}}"></p>
    <p>Affected Components: <input type="text" placeholder="Edit affected components" id="text-affected-components" size="80" value="{{object.packages}}"></p>
	{% if default_category == "CVE" %}
      <i>Acknowledge Date</i> = <input type="text" placeholder="Acknowledge Date" id="text-acknowledge-date" size="40" value="{{object.acknowledge_date|date:'Y-m-d'}}"> (YYYY-MM-DD, or empty string for None)<p>
    {% endif %}
    <p><p>
  </fieldset>
</div>
{% endif %} {# default_category != "FYI" #}

</div>
<!-- XHR Notification-->
<div id="details-notify-edit" style="display:none;padding-left:25px;">
  <fieldset style="border: 1px solid Blue; background-color:LightBlue; padding-left: 25px; padding-right: 20px;"> <!-- class="fieldset-auto-width"  -->
    <p><p>
    <button class="btn btn-primary btn-lg" id="submit-notification"> Submit Changes </button>
    <p><i>Category</i> =
    <select name="category" id="select-category-notify">
    {% for c in notify_categories %}
      <option value="{{c.category}}" {% if default_category == c.category %}selected{% endif %}>{{c.category}}</option>
    {% endfor %}
    </select>
    &nbsp;&nbsp;
    <i>Priority</i> =
    <select name="Priority" id="select-priority-notify">
    <option value="0">Undefined</option>
    <option value="1">Minor</option>
    <option value="2">Low</option>
    <option value="3" Selected>Medium</option>
    <option value="4">High</option>
    </select>
    <p>
    <p><input type="text" placeholder="Edit Note" id="notification-note" size="80"></p>
    <input type="checkbox" id="notification-url" name="url" value="{% if object.name %}{% url default_url object.name %}{% endif %}" checked>&nbsp;&nbsp;URL: <label>{% if object.name %}({% url default_url object.name %}){% endif %}</label>
    <p><p>
    <i>Users to notify</i> = <p>
	<div class="scrolling" style="width: 300px;">
      {% for user in users %}
        <div class="checkbox">
          <label>
            <input class="checkbox-users" name="notification-users" value="{{user.pk}}" type="checkbox" {% if "All" == user.name %}checked{% endif %}>{{user.name}}
          </label>
        </div>
      {% endfor %}
    </div>

  </fieldset>
</div>

<!-- add spacer before next content -->
<p>
<p>

