{% extends 'base.html' %}
{% load static %}

{% block extraheadcontent %}
  <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}" type='text/css'>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}" type='text/css'>
  <script src="{% static 'js/jquery-ui.min.js' %}">
  </script>
{% endblock %}

{% block title %} All Vulnerabilities - SRTool {% endblock %}

{% block pagecontent %}

<div class="row">
  <!-- Breadcrumbs -->
	<div class="col-md-12">
		<ul class="breadcrumb" id="breadcrumb">
			<li><a href="{% url 'landing' %}">Home</a></li><span class="divider">&rarr;</span>
			<li>All Vulnerabilities</li>
		</ul>
	</div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="page-header">
      <h1 class="top-air" data-role="page-title"></h1>
    </div>

    {# xhr_table_url is just the current url so leave it blank #}
    {% url '' as xhr_table_url %}
    {% include 'toastertable.html' %}
  </div>
</div>

  <script>
    $(document).ready(function () {
      var tableElt = $("#{{table_name}}");
      var titleElt = $("[data-role='page-title']");

      tableElt.on("table-done", function (e, total, tableParams) {
        var title = "All Vulnerabilities";

        if (tableParams.search || tableParams.filter) {
          if (total === 0) {
            title = "No Vulnerabilities found";
          }
          else if (total > 0) {
            title = total + " Vulnerabilit" + (total > 1 ? 'ies' : 'y') + " found";
          }
        }

        titleElt.text(title);

        /* Set the report link */
        var record_list=""
        $(".name > a").each(function(){
          /* if ('id' in $(this)) { */
            var this_id=$(this).prop('id');
            if (this_id.startsWith("dataid_")) {
              record_list +=this_id.replace(/dataid_/,"") + ",";
            }
          /* } */
        });
        $('#report_link').attr('href',"{% url 'report' request.resolver_match.url_name %}?record_list="+record_list);

      });
    });
  </script>
{% endblock %}

